{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt update
sudo apt upgrade -y
sudo apt install -y keychain pulseaudio-utils
sudo apt autoremove -y

brew analytics off
{{ if .is_private_env }}
brew install bitwarden-cli
bw login --check >/dev/null || bw login
{{ end }}
{{ end }}
