[alias]
	dd = difftool -d
	lol = log --graph --decorate --pretty=oneline --all --abbrev-commit
	pushf = push --force-with-lease --force-if-includes
[branch]
	sort = -committerdate
[column]
	ui = auto
[commit]
	verbose = true
[core]
	autocrlf = false
	editor = vim
	# ignorecase =
	quotepath = false
	safecrlf = true
[credential]
	helper = !git-credential-manager.exe
[diff]
	algorithm = histogram
	colorMoved = dimmed-zebra
	guitool = vscode
	mnemonicPrefix = true
	renames = true
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
	prune = true
	pruneTags = true
[help]
	autocorrect = prompt
[log]
	date = iso
[merge]
	conflictStyle = zdiff3
	# ff = true
	guitool = vscode
	tool = vimdiff
[mergetool]
	prompt = false
[mergetool "vscode"]
	cmd = code --wait $MERGED
[pull]
	ff = only
[push]
	autoSetupRemote = true
[tag]
	sort = version:refname
[include]
	path = config.user
{{ if eq .chezmoi.os "windows" }}
	path = config.windows
{{ end }}
