[alias]
	dd = difftool -d
	lol = log --graph --decorate --pretty=oneline --all --abbrev-commit
	pushf = push --force-with-lease --force-if-includes
[branch]
	sort = -committerdate
[column]
	ui = auto
[commit]
	gpgsign = true
	verbose = true
[core]
	autocrlf = false
	editor = nvim
	# ignorecase =
	{{- if eq .chezmoi.os "windows" }}
	pager =
	{{- end }}
	quotepath = false
	safecrlf = true
{{- if .is_wsl }}
[credential]
	helper = {{ joinPath (env "LOCALAPPDATA") "Microsoft/WinGet/Packages/Git.MinGit_Microsoft.Winget.Source_8wekyb3d8bbwe/mingw64/bin/git-credential-manager.exe" }}
{{- end }}
[diff]
	algorithm = histogram
	colorMoved = dimmed-zebra
	guitool = vscode
	mnemonicPrefix = true
	renames = true
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
	prune = true
	pruneTags = true
[gpg]
	format = ssh
[help]
	autocorrect = prompt
[log]
	date = iso
[merge]
	conflictStyle = zdiff3
	# ff = true
	guitool = vscode
	tool = vimdiff
[mergetool]
	prompt = false
[mergetool "vscode"]
	cmd = code --wait $MERGED
[pull]
	ff = only
[push]
	autoSetupRemote = true
[tag]
	gpgsign = true
	sort = version:refname
[user]
	email = {{ .email }}
	name = {{ .name }}
	{{- if and (.is_private_env) (eq .chezmoi.os "windows" ) }}
	signingkey = {{ .publicKey }}
	{{- else }}
	signingkey = ~/.ssh/id_ed25519_github.pub
	{{- end }}
