{
  "attribution": {
    "commit": "",
    "pr": ""
  },
  "enabledPlugins": {
    "codex@openai-codex": true,
    "commit-commands@claude-plugins-official": true,
    "pyright-lsp@claude-plugins-official": true,
    "typescript-lsp@claude-plugins-official": true
  },
  "env": {
    {{- if .is_private_env }}
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "global.anthropic.claude-haiku-4-5-20251001-v1:0",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "global.anthropic.claude-opus-4-6-v1",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "global.anthropic.claude-sonnet-4-6",
    "AWS_BEARER_TOKEN_BEDROCK": "{{ (bitwardenFields "item" "e2823052-25c8-48d6-be19-b3ab006ea096").AWS_BEARER_TOKEN_BEDROCK.value }}",
    "AWS_REGION": "us-west-2",
    "CLAUDE_CODE_USE_BEDROCK": "1",
    {{- end }}
    "ANTHROPIC_MODEL": "opusplan",
    "CLAUDE_CODE_DISABLE_FEEDBACK_SURVEY": "1",
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1",
    "CLAUDE_CODE_EFFORT_LEVEL": "auto",
    "DISABLE_NON_ESSENTIAL_MODEL_CALLS": "1",
    "ENABLE_TOOL_SEARCH": true
  },
  "extraKnownMarketplaces": {
    "openai-codex": {
      "source": {
        "source": "github",
        "repo": "openai/codex-plugin-cc"
      }
    }
  },
  "language": "Japanese",
  "permissions": {
    "allow": [
      "WebFetch(domain:github.com)",
      "WebFetch(domain:api.github.com)"
    ],
    "ask": [
      "Bash(rm *)",
      "WebSearch"
    ],
    "deny": [
      "Bash(curl *)",
      "Bash(sudo *)",
      "Bash(wget *)",
      "Read(~/.ssh/**)",
      "Read(**/.env)",
      "Read(**/.env.*)"
    ]
  },
  "sandbox": {
    "enabled": true,
    "excludedCommands": [
      "git"
    ],
    "allowUnsandboxedCommands": false,
    "autoAllowBashIfSandboxed": true
  },
  "spinnerTipsEnabled": false,
  "statusLine": {
    "type": "command",
    "command": "~/.claude/statusline.sh"
  },
  "syntaxHighlightingDisabled": false
}
