brew "bubblewrap"
brew "chezmoi"
brew "gh"
brew "jq"
brew "neovim"
brew "mise"
brew "socat"
cask "claude-code"
cask "copilot-cli"
{{- if .is_private_env }}
brew "awscli"
brew "bitwarden-cli"
brew "flyctl"
{{- else }}
cask "codex"
{{- end }}
